
@model _2dv610_TDD.ViewModels.WishListVieModel
<div class="wishList">
    <h1>Merry Christmas</h1>
    <h2>Letter To Santa</h2>
    @if (ViewBag.msg != null)
    {
        <div class="alert alert-success">
            @ViewBag.msg
        </div>
    }

    <form asp-controller="WishList" asp-action="Save" method="post">
        <div class="row">
            <fieldset class="col">
                <div class="mx-auto w-75">
                    <h2>Need</h2>
                    <span>
                        1:<input value="" asp-for="NeedWishes.GetWishList[0].Name" value="@Model.NeedWishes.GetWishList[0].Name" />
                        Pris:<input class="price" asp-for="NeedWishes.GetWishList[0].Price" value="" />
                    </span>
                    <span>
                        2:<input value="" asp-for="NeedWishes.GetWishList[1].Name" value="@Model.NeedWishes.GetWishList[1].Name"/>
                        Pris:<input class="price"  asp-for="NeedWishes.GetWishList[1].Price" value="@Model.NeedWishes.GetWishList[1].Price"/>
                    </span>
                    <span>
                        3:<input value="" asp-for="NeedWishes.GetWishList[2].Name" value="@Model.NeedWishes.GetWishList[2].Name"/>
                        Pris:<input class="price" asp-for="NeedWishes.GetWishList[2].Price" value="@Model.NeedWishes.GetWishList[2].Price" />
                    </span>
                    <span> 
                        4:<input value="" asp-for="NeedWishes.GetWishList[3].Name" value="@Model.NeedWishes.GetWishList[3].Name"/>
                        Pris:<input class="price"  asp-for="NeedWishes.GetWishList[3].Price" value="@Model.NeedWishes.GetWishList[3].Price" />
                    </span>
                    <span>  
                        5:<input value="" asp-for="NeedWishes.GetWishList[4].Name" value="@Model.NeedWishes.GetWishList[4].Name"/>
                        Pris:<input class="price"  asp-for="NeedWishes.GetWishList[4].Price" value="@Model.NeedWishes.GetWishList[4].Price" />
                    </span>
                </div>
            </fieldset>
            <fieldset class="col">
                <div class="mx-auto w-75">
                    <h2>Want</h2>
                    <span>
                        1:<input asp-for="WantWishes.GetWishList[0].Name" value="" />
                        Pris:<input class="price" asp-for="WantWishes.GetWishList[0].Price" value="" />
                    </span>
                    <span>
                        2:<input asp-for="WantWishes.GetWishList[1].Name" value="" />
                        Pris:<input class="price" asp-for="WantWishes.GetWishList[1].Price" value="" />
                    </span>
                    <span>
                        3:<input asp-for="WantWishes.GetWishList[2].Name" value="" />
                        Pris:<input class="price" asp-for="WantWishes.GetWishList[2].Price" value="" />
                    </span>
                    <span>
                        4:<input asp-for="WantWishes.GetWishList[3].Name" value="" />
                        Pris:<input class="price" asp-for="WantWishes.GetWishList[3].Price" value="" />
                    </span>
                    <span>
                        5:<input asp-for="WantWishes.GetWishList[4].Name" value="" />
                        Pris:<input class="price" asp-for="WantWishes.GetWishList[4].Price" value="" />
                    </span>


                </div>
            </fieldset>
        </div>
        <div class="row w-100">
            <fieldset class="col">
                <div class="mx-auto w-75">
                    <h2>Read</h2>
                    <span>
                        1:<input asp-for="readWishes.GetWishList[0].Name" value=""/>
                        Pris:<input class="price" asp-for="readWishes.GetWishList[0].Price" value=""/>
                    </span>
                    <span>
                        2:<input asp-for="readWishes.GetWishList[1].Name" value=""/>
                        Pris:<input class="price"  asp-for="readWishes.GetWishList[1].Price"  value=""/>
                    </span>
                    <span>
                        3:<input asp-for="readWishes.GetWishList[2].Name" value=""/>
                        Pris:<input class="price" asp-for="readWishes.GetWishList[2].Price"  value=""/>
                    </span>
                    <span>
                        4:<input asp-for="readWishes.GetWishList[3].Name" value=""/>
                        Pris:<input class="price" asp-for="readWishes.GetWishList[3].Price"  value=""/>
                    </span>
                    <span>
                        5:<input asp-for="readWishes.GetWishList[4].Name" value=""/>
                        Pris:<input class="price" asp-for="readWishes.GetWishList[4].Price" value=""/>
                    </span>
                </div>
            </fieldset>

            <fieldset class="col">
                <div class="mx-auto w-75">
                    <h2>Wear</h2>
                    <span>
                        1:<input asp-for="WearWishes.GetWishList[0].Name" value="" />
                        Pris:<input class="price" asp-for="WearWishes.GetWishList[0].Price" value="" />
                    </span>
                    <span>
                        2:<inputasp-for="WearWishes.GetWishList[0].Name" value="" />
                        Pris:<input class="price" asp-for="WearWishes.GetWishList[1].Price" value="" />
                    </span>
                    <span>
                        3:<input asp-for="WearWishes.GetWishList[0].Name" value="" />
                        Pris:<input class="price" asp-for="WearWishes.GetWishList[2].Price" value="" />
                    </span>
                    <span>
                        4:<input asp-for="WearWishes.GetWishList[0].Name" value="" />
                        Pris:<input class="price" asp-for="WearWishes.GetWishList[3].Price" value="" />
                    </span>
                    <span>
                        5:<input asp-for="WearWishes.GetWishList[0].Name" value="" />
                        Pris:<input class="price" asp-for="WearWishes.GetWishList[4].Price" value="" />
                    </span>
                </div>
            </fieldset>
        </div>
        <button type="submit" class="btn text-right save">Save</button>
    </form>
</div>
